@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');


:root {
    --color-main: #f68657;
    --color-text: #383a3f;
    --color-dark: #1f2124;
    --color-gray: #677;
    --color-bg: #f3f6f9;
    --color-light: #acb4bd;
    --color-lighter: #f9f9f9;
    --color-white: #fff;
    --color-border:#e0e3e6;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    color: inherit;
    font-size: inherit;
    scroll-behavior: smooth;
  }
  
  
body{
    line-height: 1.8em;
    font-weight: 400;
    font-size: 16px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(135,249,229,1) 0%, rgba(0,212,255,1) 100%);
  }




a{
    text-decoration: none;
    
}

table tr{
    background-color: white;
}
table tr:hover{
    background-color: lightblue;
}

*::after, *::before {
    box-sizing: border-box;

}



.form-body{
    padding: 10px 15px;
}



#form-1{
    width: 500px;
    margin: auto;
    border: 1px solid lightblue;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow:  0 0 20px black;
    
    padding: 10px;
    padding-left: 30px;
}
.form-body form div{
    display: flex;
    
    
}

.form-body form div label{
    padding-top: 15px;
    width: 100px;
    font-weight: bold;
}
.btns{
    
    padding: 10px;
    justify-content:space-around
}



.page-header{
    text-align: center;
    margin: 20px;
}


.dropdown-menu{
    background-color:#ffc107 ;
    border-radius: 10px;
}

.user-corner{
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow:  0 0 5px black;
}

.user-corner a{
    font-weight: bolder;
    
}